@import '../../../app/global.scss';

.garden {
  width: 100%;
  height: auto;
  max-width: 1487px;
  display: block;

  @media (max-width: 1024px) {
    transform: scale(0.8);
    transform-origin: center;
  }

  @media (max-width: 768px) {
    transform: scale(0.6);
  }

  @media (max-width: 480px) {
    transform: scale(0.4);
  }
}

