:root {
  --color-mustard: #D7C500;
  --color-dark-mustard: #6D6400;
  --color-charcoal: #222222;
  --color-text-dark: #212121;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--color-mustard);
}



