@import '../../../app/global.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.hideOnMobile {
    @media (max-width: 700px) {
        display: none;
    }
}
